$primary-color: #1976D2;
$primary-color-dark: #1565C0;

$accent-color: #FFC107;
$accent-color-dark: #FFB300;

$md-white: #fff;
$md-white-c: #E0E0E0;

$md-black: #000;
$md-black-c: #616161;

$md-red: #F44336;
$md-red-c: #EF9A9A;

$md-pink: #E91E63;
$md-pink-c: #F8BBD0;

$md-purple: #9C27B0;
$md-purple-c: #E1BEE7;

$md-d-purple: #673AB7;
$md-d-purple-c: #D1C4E9;

$md-indigo: #3F51B5;
$md-indigo-c: #C5CAE9;

$md-blue: #2196F3;
$md-blue-c: #BBDEFB;

$md-l-blue: #03A9F4;
$md-l-blue-c: #B3E5FC;

$md-cyan: #00BCD4;
$md-cyan-c: #B2EBF2;

$md-teal: #009688;
$md-teal-c: #B2DFDB;

$md-green: #4CAF50;
$md-green-c: #C8E6C9;

$md-l-green: #8BC34A;
$md-l-green-c: #DCEDC8;

$md-lime: #CDDC39;
$md-lime-c: #F0F4C3;

$md-yellow: #FFEB3B;
$md-yellow-c: #FFF9C4;

$md-amber: #FFC107;
$md-amber-c: #FFECB3;

$md-orange: #FF9800;
$md-orange-c: #FFE0B2;

$md-d-orange: #FF5722;
$md-d-orange-c: #FFCCBC;

$md-brown: #795548;
$md-brown-c: #D7CCC8;

$md-grey: #9E9E9E;
$md-grey-c: #E0E0E0;

$md-blue-grey: #607D8B;
$md-blue-grey-c: #CFD8DC;
